<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{layout}">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>JobBörse</title>
</head>
<body>
<div layout:fragment="content">
	<h1 style="text-align: center">Willkommen zur Jobbörse </h1>



			<p style="margin-top: 50px">Jobbörse ist an deiner Seite!
				Es gibt viele Gründe, auf der Suche nach einem neuen Job zu sein.
				Vielleicht haben sie gerade ihren Abschluss gemacht, gekündigt oder einfach das Gefühl,
				dass es Zeit wird für etwas Neues. Wir sind auf dem Weg zu deinem nächsten Job an ihrer Seite.
			</p>

			<p style="margin-top: 20px">Wenn sie noch kein Konto haben dann senden sie uns doch eine mail, wir überprüfen ihre Daten und legen ihnen ein Konto an.</p>
			<p>Email: jobboerse@yahoo.com</p>
			<p>Benötigte Daten: Name, Email, Adresse, ob sie eine Privatperson sind oder einen Firmenaccount erstellen wollen
				und eine kurze beschreibung von dir oder deinem Unternehmen
			</p>

</div>
</body>
</html>