<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="https://www.thymeleaf.org/extras/spring-security"
      layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div layout:fragment="content">
        <div th:switch="${#authentication.getPrincipal().getRoleId()}">
            <div th:case="1" th:with="Role=${#authentication.getPrincipal().getRoleId()}">
                <p>Suche nach Personen die auf Jobsuche sind</p>
                <form th:object="${dataTransfer.setRoleId(Role)}"></form>

                <form action="#" th:action="@{/search}" th:object="${dataTransfer}" method="post">
                    <p>Eingabe: <input type="text" th:field="*{eingabe}" /></p>
                    <p style="opacity: 0"> <input type="text" th:field="*{roleId}"/></p>
                    <p><input type="submit" value="Submit" /> <input type="reset" value="Reset" /></p>
                </form>

            </div>
            <div th:case="2" th:with="Role=${#authentication.getPrincipal().getRoleId()}">
                <p>Suche nach Jobs die angeboten werden</p>

                <form th:object="${dataTransfer.setRoleId(Role)}"></form>

                <form action="#" th:action="@{/search}" th:object="${dataTransfer}" method="post">
                    <p>Eingabe: <input type="text" th:field="*{eingabe}" /></p>
                    <p style="opacity: 0"> <input type="text" th:field="*{roleId}"/></p>
                    <p><input type="submit" value="Submit" /> <input type="reset" value="Reset" /></p>
                </form>
            </div>
        </div>
    </div>
</body>
</html>