<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  xmlns:sec="https://www.thymeleaf.org/extras/spring-security"
	  layout:decorate="~{layout}">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>JobBörse </title>
</head>
<body>
	<div layout:fragment="content">
		<div th:switch="${user.getRoleId()}">
			<div th:case="1">
				<h5>Meine Daten:</h5>
				<p th:text="${'Name: ' + user.getUnternehmensname() + ' (Nr. ' + user.getUnternehmensregisternr() + ')'}"></p>

				<p th:text="${'Adresse: ' + user.getAdresse()}" ></p>
				<p th:text="${'Email: ' + user.getEmail()}" ></p>

				<h5>Meine Beschreibung:</h5>
				<p th:text="${user.getBeschreibung()}"></p>

				<h5>Meine aktuell angebotenen Stellenangebote:</h5>
				<div th:each="offen: ${offeneStellen}" class="border border-dark rounded-3 p-2 m-2">
					<p th:text="${'Beschreibung: ' + offen.getBeschreibung()}"></p>
					<p th:text="${'Gehalt: ' + offen.getGehalt()}"></p>
					<span>Kompetenzen: </span>
					<ul th:each=" kompetenz: ${offen.getOffeneStelleKompetenzen()}">
						<li th:text="${kompetenz.getBeschreibung()}"></li>
					</ul>
				</div>
				<h5>Bookmarks: </h5>
				<div th:each="bookmark: ${user.getJobsuchendeBookmarks()}" class="border border-dark rounded-3 p-2 m-2">
					<p th:text="${'Name: ' + bookmark.getVorname()} + ' ' + ${bookmark.getNachname()}"></p>
					<p th:text="${'Adresse: ' + bookmark.getAdresse()}"></p>
					<p th:text="${'Email: ' + bookmark.getEmail()}"></p>

					<h5>Meine Beschreibung:</h5>
					<p th:text="${bookmark.getBeschreibung()}"></p>

					<h5>Meine Abschlüsse:</h5>
					<ul th:each="ab: ${bookmark.getUserAbschluesse()}">
						<li th:text="${ab.getName()}"></li>
					</ul>

					<h5>Meine Kompetenzen:</h5>
					<ul th:each="uk: ${bookmark.getUserKompetenzen()}">
						<li th:text="${uk.getName()}"></li>
					</ul>
				</div>
			</div>
			<div th:case="2">
				<h5>Meine Daten:</h5>
				<p th:text="${'Name: ' + user.getVorname()} + ' ' + ${user.getNachname()}"></p>
				<p th:text="${'Adresse: ' + user.getAdresse()}"></p>
				<p th:text="${'Email: ' + user.getEmail()}"></p>

				<h5>Meine Beschreibung:</h5>
				<p th:text="${user.getBeschreibung()}"></p>

				<h5>Meine Abschlüsse:</h5>
				<ul th:each="ab: ${user.getUserAbschluesse()}">
					<li th:text="${ab.getName()}"></li>
				</ul>

				<h5>Meine Kompetenzen:</h5>
				<ul th:each="uk: ${user.getUserKompetenzen()}">
					<li th:text="${uk.getName()}"></li>
				</ul>
				<h5>Bookmarks: </h5>
				<div th:each="bookmark: ${user.getOffenenStellenBookmarks()}" class="border border-dark rounded-3 p-2 m-2">
					<p th:text="${'Beschreibung: ' + bookmark.getBeschreibung()}"></p>
					<p th:text="${'Gehalt: ' + bookmark.getGehalt() + '€ pro monat'}"></p>
					<p th:text="${'Email: ' + emailList.get(user.getOffenenStellenBookmarks().indexOf(bookmark))}"></p>
					<span>Kompetenzen: </span>
					<ul th:each=" kompetenz: ${bookmark.getOffeneStelleKompetenzen()}">
						<li th:text="${kompetenz.getName()}"></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</body>
</html>
